{
  "$schema": "https://json.schemastore.org/swcrc",

  "exclude": [".*\\/(tests|__mocks__)\\/.*", ".*\\.test.[tj]s$"],

  "jsc": {
    "target": "esnext",
    "parser": {
      "syntax": "typescript",
      "dynamicImport": true
    },
    "baseUrl": "./",
    "paths": {
      "@/*": ["src/*"]
    },
    "minify": {
      "mangle": true,
      "compress": {
        "ecma": "2022",
        "module": true
      }
    }
  },

  "module": {
    "type": "es6",
    "resolveFully": true,
    // defaults:
    "strict": false,
    "strictMode": true,
    "lazy": false,
    "noInterop": false
  }
}
